@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin-top: 10px;
    margin-bottom: 40px;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.listcontent {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    box-shadow: 0 -8px 20px 2px black;
}

#sidebar.active {
    margin-left: -250px;

}



#sidebar .sidebar-header,
.nolistidnoapikey-sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.listen {
    padding: 20px 0;
    bottom: 0;

}

#sidebar ul p {
    color: #fff;
    padding-left: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;

}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

ul.neue_liste_hinzufügen {
    width: 250px;
    border-top: 1px solid #47748b;
    padding: 20px;
    margin: 0%;
    position: fixed;
    bottom: 0%;

}

ul.neue_liste_hinzufügen a {
    text-align: center;
    font-size: 0.9em;
    display: block;
    border-radius: 5px;

}

#neue_liste_hinzufügen_btn {
    background: #6d7fcc;
    color: #fff;
}

#neue_liste_hinzufügen_btn:hover {
    color: #6d7fcc;
    background: #fff;
}

#plus {
    padding-right: 4px;

}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.list-group-item {
    padding: 14px 15px !important;
} 

.btn_items {
    display: none;
    float: right;
    margin-top: -7px;
}

.list-group-item:hover{
background-color: rgba(119, 136, 153, 7%);
}

.list-group-item:hover .btn_items {
    display: inline;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;

}

#list_items_bought_true{
    text-decoration: line-through;
}


#btn_delite {
    margin-left: 4px;

}

#item_hinzufügen_plus_btn {
    display: none;
}

/*Modals*/
.input-group-addon {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important
}


.qrcodemodal-body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

/* Print */
#print_btn_div {
    bottom: 0;
    right: 0;
    position: relative;
}

#change_apikey_btn,
#share,
#print_btn,
#behindert {
    float: right;
    border: none;

}

/*navbar*/
.spracheingabe {
    float: right;
}

#item_hinzufügen_plus_btn {
    display: none;
}

#item_hinzufügen_btn,
#item_hinzufügen_plus_btn {
    height: 64px;
}

#sidebarCollapse {
    margin-right: 5px;
    display: inline-block;
    width: 53px;

}

.navbar {
    padding: 0px 0px 5px;
    margin: 0px 0px 0px 5px;
    background: #fff;

}

.navbar-btn {
    box-shadow: none;
    outline: none;
    border: none;
}


#erledigt,
#zuerledigen {
    font-size: 30px;
    color: rgb(85, 83, 83);
}

/* ---------------------------------------------------
    nolistidnoapikey
----------------------------------------------------- */
.nolistidnoapikey-sidebar-header {
    text-align: center;
    color: white;
    box-shadow: 0 -8px 20px 2px black;
}

.nolistidnoapikey_content {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 2%;
    color: #999;
}

#herokuapplink {
    text-decoration: underline;
    color: grey;
}

#weiter {
    float: right;
}

/* ---------------------------------------------------
    Scrollbar
----------------------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #989ca1;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #item_hinzufügen_btn {
        display: none;

    }

    #item_hinzufügen_plus_btn:not(:target) {
        display: inline;
    }

    .modal-body {
        position: relative;
        max-height: 200px;
        overflow-y: auto;
    }

    .modal-wide {
        width: 95%;
    }

    #sidebar.active {
        margin-left: 0;
    }

}

@media print {
    #sidebar {
        display: none;
    }

    #btn_items {
        display: none;
    }

    #print_btn_div {
        display: none;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    #erledigt,
    #zuerledigen {
        font-size: 20px;
        color: rgb(85, 83, 83);
    }

    #list_items_bought_true{
        text-decoration: none;
    }

    .listitems:before {
        content: "Freitag Abend:";
        font-weight: bold;
        font-size: 1.75rem;
        font-family: 'Poppins', sans-serif;
        margin-bottom: .5rem;
    }

    #listname {
        display: block;
        text-align: center;
    }

    #content:after {
        content: "\ Liste erstellt durch Shopping-List by Jan Wardenga & Felix Flassak";
        color: #dedede;
        font-size: 0.85em;
        border-top: 1px solid #dedede;
        text-align: center;
        position: fixed;
        bottom: 0;
    }


}